<div class="container">
  <div class="col-xs-8 col-xs-offset-2">
    <form (ngSubmit)="submitForm()" #form="ngForm" novalidate >
      <div ngModelGroup="user" #user="ngModelGroup">
        <div class="form-group">
        <label>User Name</label>
        <input
          type="text"
          class="form-control"
          ngModel
          name="userName"
          required
          #userName="ngModel"
          placeholder="Введите Имя"
        >
        <p *ngIf="userName.invalid && userName.touched">Ввдите имя</p>
        <button
          type="button"
          class="btn btn-primary"
          (click)="addRandUser()"
        >Предложить User Name</button>
        </div>
        <div class="form-group" >
        <label>Email</label>
        <input
          type="text"
          class="form-control"
          ngModel
          name="email"
          required
          email
          #email="ngModel"
          placeholder="Введите Email"
        >
        <p *ngIf="email.invalid && email.touched">Ввдите корректный email</p>
      </div>
      </div>
      <p *ngIf="user.invalid && user.touched">Введите корректные данные пользователя</p>
      <div class="form-group">
        <label>Секретный вопрос</label>
        <select
          class="form-control"
          [ngModel]="1"
          name="secret"
        >
          <option value="1">Имя питомца ?</option>
          <option value="2">Номер мобильного телефона ?</option>
          <option value="3">Девичья фамилия матери ?</option>
        </select>
        <textarea
          class="form-control"
          ngModel
          name="questionAnswer"
          required
          #textarea='ngModel'
          placeholder="Введите сюда ответ на секрктный вопрос"
        >
        </textarea>
        <p *ngIf="textarea.invalid && textarea.touched">Вы не ввели ответ на секретный вопрос</p>
        <p>Ваш ответ : {{textarea.value}}</p>
      </div>
      <p *ngIf="!genderW.checked && !genderM.checked">Выберите пол :</p>
      <div class="form-group">
        <label>Жен
          <input
            type="radio"
            ngModel
            name="gender"
            value="Woman"
            required
            #genderW
          >
        </label>
        <label>Муж
          <input
            type="radio"
            ngModel
            name="gender"
            value="Man"
            #genderM
          >
        </label>
      </div>
      <button
        class="btn btn-success"
        type="submit"
        [disabled]="!form.valid"
      >Отправить</button>
    </form>
  </div>
  <pre>{{form.value | json}}</pre>
</div>
