<div class="container">
  <div class="col-xs-8 col-xs-offset-2">
    <form (ngSubmit)="submitForm(form)" #form="ngForm">
      <div ngModelGroup="user" #user="ngModelGroup">
        <div class="form-group">
        <label>User Name</label>
        <input
          type="text"
          class="form-control"
          ngModel
          name="userName"
          required
          #userName="ngModel"
        >
        <p *ngIf="userName.invalid && userName.touched">Ввдите имя</p>
        <button class="btn btn-primary">Предложить User Name</button>
        </div>
        <div class="form-group" >
        <label>Email</label>
        <input
          type="text"
          class="form-control"
          ngModel
          name="email"
          required
          email
          #email="ngModel"
        >
        <p *ngIf="email.invalid && email.touched">Ввдите корректный email</p>
      </div>
      </div>
      <p *ngIf="user.invalid && user.touched">Введите корректные данные пользователя</p>
      <div class="form-group">
        <label>Секретный вопрос</label>
        <select
          class="form-control"
          ngModel
          name="secret"
        >
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
        <textarea
          class="form-control"
          ngModel
          name="questionAnswer"
        >Введите ответ на секр вопрос</textarea>
        <p>Ваш ответ</p>
      </div>
      <div class="form-group">Ваш пол :
        <label>Жен
          <input
            type="radio"
            ngModel
            name="gender"
            value="Woman"
          >
        </label>
        <label>Муж
          <input
            type="radio"
            ngModel
            name="gender"
            value="Man"
          >
        </label>
      </div>
      <button
        class="btn btn-success"
        type="submit"
        [disabled]="!form.valid"
      >Отправить</button>
    </form>
  </div>
  {{form.value | json}}
</div>
